{% if cars %}
<table class="car-list">
    <thead>
        <tr>
            <th>Car</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>License Plate</th>
            <th>VIN</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr onclick="window.location='{{ url_for('car_detail', car_id=car.id) }}';">
            <td>{{ car.make }} {{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ "{:,}".format(car.milage) }}</td>
            <td>{{ car.license_plate }}</td>
            <td>{{ car.vin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No cars match your criteria. <a href="{{ url_for('index') }}">Clear filters</a> or <a href="{{ url_for('add_car') }}">add a new car</a>.</p>
{% endif %}